/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
    ========================================================================== */
  
  /*Base css*/
  .alignleft{
	  float:left;
	  margin-right:15px;
  }
  .alignright{
	  float:right;
	  margin-left:15px;
  }
  .aligncenter{
	  display:block;
	  margin:0 auto 15px;
  }
  a:focus,input:focus,textarea:focus,button:focus{
	  outline:0 solid
  }
  img{
	  max-width:100%
	  height:auto;
  }
   
   h1,h2,h3,h4,h5,h6{
	margin:0 0 15px;
	font-weight:bold;
	margin:0 0 15px;
	
    
}
h2 {
	font-size:32px;
}

body{
	
	font-family: 'Open Sans', sans-serif;
    color: #565;
    line-height: 1.7;
    font-size: 16px;
}

a:hover{text-decoration:none;}

.fullwidth-bg-area{background-image: url(../img/bg.jpeg)}
.section-padding {
    padding: 80px 0;
}
.fullwidth-bg-area {
    margin: 70px 0;
}
.margin-minus {
    margin: -70px;
    padding:120px 70px;
    font-size: 18px;
    line-height: 1.9;
}
.dark-bg {
    background: #2b2f40;
    color: #fff;
}
a.bordered-btn {
    display: inline-block;
    color: #fff;
    border: 1px solid #cca876;
    padding: 10px 40px;
}
.margin-minus a.bordered-btn {
    margin-top: 30px;
    margin-left: 20px;
}
.boxed-content h2 {
    font-size: 50px;
     font-weight: 500;
}
h4.author-name {
    font-family: roboto;
    font-size: 22px;
    position: relative;
    margin-top: 20px;
    padding-left: 40px;
}
h4.author-name span {
    font-size: 70%;
    opacity: .3;
    font-weight: 300;
}
h4.author-name :before{
    content: '';
    height: 2px;
    width: 30px;
    left: 0;
    top: 50%;
    background:#fff;
    margin-top: -2px;
    position: absolute;
    
}
.boxed-content {
    position: relative;
    padding-top: 30px;
    padding-left: 20px;
    padding-bottom: 20px;
}
.boxed-content:before {
    position: absolute;
    left: -35px;
    top: 0;
    height: 50px;
    width: 50px;
    content: '';
    border-left: 1px solid #fff;
    border-top: 1px solid #fff;
}
.boxed-content:after {
    position: absolute;
    right: -50px;
    bottom: -30px;
    height: 50px;
    width: 50px;
    content: '';
    border-right: 1px solid #fff;
    border-bottom: 1px solid #fff;
    text-align: right;
}







.team-bg-1{background-image: url(../img/images-three.jpg)}
.team-bg-2{background-image: url(../img/images-one.jpg)}
.team-bg-3{background-image: url(../img/images-two.jpg)}

.section-padding{
    padding: 80px 0;
}

.section-title {
    position: relative;
    text-transform: uppercase;
    text-align: right;
    font-size: 30px;
    font-weight: 700;
    transform: rotate(270deg);
    margin-top: 69px;
}
.section-title::before {
    position: absolute;
    top: -30px;
    right: 0;
    height: 1px;
    width: 70%;
    background: #000;
    content: '';
}

.team-bg-1{
    height: 270px;
    background-size: cover;
    background-position: center top;
    margin-bottom: 50px;
}
.team-bg-2{
    height: 270px;
    background-size: cover;
    background-position: center top;
     margin-bottom: 50px;
}
.team-bg-3{
    height: 270px;
    background-size: cover;
    background-position: center top;
     margin-bottom: 50px;
}
.border-content {
    border: 1px solid #333;
    text-align: center;
    font-weight: 300;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 8px;
    padding-bottom: 20px;
}
.border-content h3 {
    font-size: 24px;
    background: #fff;
    display: inline-block;
    padding: 0 10px;
    margin-bottom: 5px;
}
.team-title {
    margin-top: -13px;
    padding: 0 10px;
}
.col-md-4:nth-child(2) .single-team-member {
    margin-top: 100px;
}












.footer-area{
    background: #14adf3;
    padding: 80px 0;
}
.footer-area, .footer-area a {
    color: #fff;
}
.footer-wid h3 {
    text-transform: uppercase;
    margin-bottom: 27px;
}
.social-links a {
    font-size: 20px;
    margin-right: 20px;
    margin-top: 15px;
    display: inline-block;
}
.footer-wid ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
p.contant-info {
    padding-left: 27px;
    position: relative;
}
p.contant-info i.fa {
    position: absolute;
    left: 0;
    top: 6px;
}
.footer-subcribtion-form h2 {
    text-transform: uppercase;
    font-size: 18px;
    margin-top: 35px;
}
.footer-subcribtion-form input[type="email"] {
    border: 0;
    color: #000;
    padding: 10px;
    width:75%;
}

.footer-subcribtion-form input[type="submit"] {
    color: #14adf4;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    background: #fff;
    padding: 10px;
    width: 23%;
}
.footer-subcribtion-form form {
    margin-bottom: 20px;
}
.footer-subcribtion-form p {
    font-size: 85%;
}
.copyright-area, .copyright-area a {
    color: #333;
}
.copyright-area ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.copyright-area ul li{
    display: inline-block;
}
.copyright-area li:after {
    content: "|";
    padding-right: 5px;
    padding-left: 10px;
}
.copyright-area li:last-child:after {
    display: none;
}
.copyright-area {
    padding: 20px 0;
}






.footer-area {
    position: fixed;
    bottom: 0;
    width: 100%;
}
.site-main-wrapper{
    position: relative;
    margin-bottom: 450px;
    z-index: 9;
    background-color: #fff;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
